* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

main {
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}

main > * {
    margin-bottom: 1.25rem;
}

main img {
    width: 100%;
    border-radius: 14px;
}

main h1 {
    font-size: 1.5rem;
}

main p {
    font-size: 1.1rem;
    color: hsl(216, 15%, 48%);
    max-width: 310px;
    text-align: center;
    margin: auto;
    font-weight: 400;
}

footer {
    margin-top: 1.75rem;
}

footer .attribution { 
    font-size: 11px; text-align: center; 
}
footer .attribution a { 
    color: hsl(228, 45%, 44%);  
}

@media (max-width: 375px) {
    main h1 {
        font-size: 1.2rem;
    }
    main p {
        font-size: 0.8rem;
    }
}